<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibe datos con get</title>
</head>
<body>
    <h1>Recibe datos con get</h1>
    <div>Nombre: <%= nombre%></div>
    <div>Password: <%= password%></div>
</body>
</html>